.App {
  text-align: center;
}

.button {
  /* width: 160px;
  height: 30px; */
  padding: 16px;
  border: 1px solid #f4f4f4;
  background-color: #009688;
  margin: 8px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 15px;
}

.card {
  border: 1px solid #eee;
  width: 35%;
  margin: 16px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
